#Application_desktop
Application_desktop/nbproject/
Application_desktop/build/
Application_desktop/nbbuild/
Application_desktop/dist/
Application_desktop/nbdist/
Application_desktop/nbproject/
Application_desktop/manifest.mf
Application_desktop/build.xml
Application_desktop/nbactions.xml
Application_desktop/.nb-gradle/

#Application_mobile
Application_mobile/nbproject/
Application_mobile/build/
Application_mobile/nbbuild/
Application_mobile/dist/
Application_mobile/nbdist/
Application_mobile/nbproject/
Application_mobile/manifest.mf
Application_mobile/build.xml
Application_mobile/nbactions.xml
Application_mobile/.nb-gradle/

#Application_web
Application_web/app/cache/*
Application_web/app/logs/*
!Application_web/app/cache/.gitkeep
!Application_web/app/logs/.gitkeep

Application_web/app/spool/*

Application_web/var/cache/*
Application_web/var/logs/*
Application_web/var/sessions/*
!Application_web/var/cache/.gitkeep
!Application_web/var/logs/.gitkeep
!Application_web/var/sessions/.gitkeep

Application_web/app/config/parameters.yml
Application_web/app/config/parameters.ini

Application_web/app/bootstrap.php.cache
Application_web/var/bootstrap.php.cache
Application_web/bin/*
!Application_web/bin/console
!Application_web/bin/symfony_requirements
Application_web/vendor/

Application_web/web/bundles/
Application_web/web/uploads/

Application_web/web/assets/vendor/

Application_web/app/phpunit.xml
Application_web/phpunit.xml

Application_web/build/

Application_web/composer.phar

Application_web/*/Entity/*~