{% extends 'CovoiturageFirstBundle::layout.html.twig' %}

{% block body -%}
    <h1>Notifications creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('notifications') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
